# Ignore environment files
.venv
.env

# dependencies
reactdev/node_modules
reactdev/.pnp
reactdev/*.pnp.js

# testing
reactdev/coverage

# production
reactdev/build

# misc
reactdev/*.DS_Store
reactdev/*.env.local
reactdev/*.env.development.local
reactdev/*.env.test.local
reactdev/*.env.production.local

reactdev.npm-debug.log*
reactdev.yarn-debug.log*
reactdev.yarn-error.log*
