body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #A7B9A2;
}

.nav-link {
  color: #3F3244;
  border-radius: 10px;
  margin-right: 0.25rem;
}

.nav-link:hover {
  color: #A7B9A2;
  background-color: #3F3244;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.nav-link:focus {
  color: black;
}

.nav-link-dropdown {
  display: block;
  margin: 0.25rem;
  padding: .5rem;
  color: rgba(0, 0, 0, .55);
  text-decoration: none;
}

.nav-link-dropdown:hover {
  color: black;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.nav-link-footer {
  display: block;
  padding: .5rem;
  color: #3F3244;
  text-decoration: none;
}

.nav-link-footer:hover {
  color: #A7B9A2;
  background-color: #3F3244;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.eng-violet {
  color: #3F3244;
}

.bg-hg {
  background-color: #457364;
  color: #3F3244;
}

.bg-rg {
  background-color: #6A7D5C;
  color: #3F3244;
}

.bg-bg {
  background-color: #84817E;
  color: #3F3244;
}

.bg-bg-opaque {
  background-color: rgba(132, 129, 126, 0.90);
  color: #3F3244;
}

.color-ag {
  color: #A7B9A2;
}

.color-egg {
  color: #60495A;
}

.color-ev {
  color: #3F3244;
}

.bg-leaves {
  background-image: url("../public/tattoo-logo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.home-image-r {
  width: 60%;
  right: 0;
  position: relative;
}

.home-image-l {
  width: 60%;
  left: 0;
  position: relative;
}

.home-text-r {
  right: 30%;
  width: 30%;
  margin-bottom: 5rem;
  position: absolute;
}

.home-text-l {
  left: 30%;
  width: 30%;
  margin-bottom: 5rem;
  position: absolute;
}
