main {
    display: flex;
    justify-content: center;
    font-size: larger;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.pdfform {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-div {
    display: flex;
    max-width: 752px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 38px;
    background-color: #dddcdcc5;
    align-items: flex-start;
    text-align: left;
}

.form-group {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 12px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 3px;
    position: relative;
    width: 100%;
    text-align: left;
    position: relative;
}

.form-control {
    width: 100%;
    height: 30px;

}

.signature-div {
    /* margin-top: 12px; */
    margin-bottom: 12px;
    padding: 12px 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    position: relative;
    width: 350px;
    text-align: left;
    position: relative;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.init-div {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    position: relative;
    width: 110px;
    text-align: left;
    position: relative;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.form-checkbox {
    height: 20px;
    width: 20px;
}

.large-input {
    width: 100%;
    height: 150px;
    resize: both;
}

.div-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 12px 0px;
}

.name {
    width: 48%;
    height: 30px;

}

.required {
    color: red;
}

label {
    margin-bottom: 2px;
    color: rgb(50, 50, 85)
}
