{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Consent PDF</title>
<style>
    @page {
        @bottom-right {
            content: "Page " counter(page) " of " counter(pages);
        }
    }
</style>
{% endblock head %}

{% block main %}
<main>
    <div>
        <div>
            <section>
                <div style="display: flex; background: #e6ffe6">
                    <img src="{% static 'header/MadInkByStripesLogo.png' %}" alt="">
                    <p style="font-size: large; margin: auto;">
                        {{ obj.signed_date }}</br>
                        Tattoo Consent Form-Mad Ink by Stripes<br>
                        Suite Society 750 W. Garden of the Gods Rd.<br>
                        - Artist: Maddie (Aka Stripes) - 719.650.9579 -<br>
                    </p>
                </div>
            </section>
            <section>
                <h1>Client Information</h1>
                    <p style="font-weight: bold;">Front of Id:</p>
                    <img src="{{ obj.front_id.url }}" alt="">
                    <p style="font-weight: bold;">Back of Id:</p>
                    <img src="{{ obj.back_id.url }}" alt="">
                    <p><span style="font-weight: bold;">Name: </span>{{obj.first_name}} {{obj.last_name}}<br>
                    <span style="font-weight: bold;">Preferred pronouns:  </span>{{obj.preferred_pronouns}}<br>
                    <span style="font-weight: bold;">Age: </span>{{obj.age}}</span><br>
                    <span style="font-weight: bold;">Date of birth: </span>{{ obj.birth_date }}<br>
                    <span style="font-weight: bold;">Phone number: </span>{{ obj.phone_number }}<br>
                    <span style="font-weight: bold;">Email address: </span>{{ obj.email }}<br>
                    <span style="font-weight: bold;">Address: </span>

                        {{ obj.address_line_1 }},
                        {% if obj.address_line_2 %}{{obj.address_line_2}},{% endif %}
                        {{ obj.city }},
                        {{ obj.state_province }} {{ obj.postal_zip_code }}
                        </span>
                    <br>
                    <span style="font-weight: bold;">Brief Description of the tattoo: </span>{{ obj.tattoo_description }}<br>
                    <span style="font-weight: bold;">Placement of tattoo: </span>{{ obj.tattoo_placement }}<br>
                    <span style="font-weight: bold;">How did you hear about us?: </span>{{ obj.connection }}</p>
                    <h2 style="page-break-before: always;">Pre-Prodecure Questionnaire</h2>
                    <p><span style="font-weight: bold;">Are you under the influence of drugs or alcohol? </span>{{ obj.under_influence }}<p>
                    {% if obj.pregnant_or_nursing %}
                    <p><span style="font-weight: bold;">FEMALE ONLY: Are you pregnant or nursing? </span>{{ obj.pregnant_or_nursing }}</p>
                    {% endif %}
                    <p><span style="font-weight: bold;">Do you have a communicable disease? </span>{{ obj.communicable_disease }}</p>
                    <p><span style="font-weight: bold;">Do you have any skin conditions? </span>{{ obj.skin_conditions }}</p>
                    <p style="font-weight: bold;">Please tell us about your medical history (e.g. Are you on blood thinners?, Diabetes, Cardiovascular Disease, Epilepsy, Blood-related disease, Hemophilia ,immune compromised, etc.)</p>
                    {% if obj.medical_history %}
                        {{ obj.medical_history }}
                        </span>
                    {% else %}
                        Client did not declare anything.
                    {% endif %}
            </section>
            <section>
                <h1 style="page-break-before: always;">Acknowledgment and Waiver</h1>
                <h3>Please check the box and initial under each statement.</h3>
                <p><span style="font-weight: bold;">I understand that this procedure is
                    a permanent change to my skin and body.</span>
                    <br>Initial: <img src="{{ obj.permanent_init.url }}" alt="">
                </p>
                <p><span style="font-weight: bold;">I allow my tattoo to be photographed and be used for
                    Mad Ink by Stripes portfolio. Pictures may be posted on Facebook, instagram, and studio website.</span>
                    <br>Initial: <img src="{{ obj.social_media_perm_init.url }}" alt="">
                </p>
                <p><span style="font-weight: bold;">I acknowledge that Mad Ink by
                    Stripes does not offer refunds or free touch ups after 3 months.
                    Hands, fingers, feet, and micro tattoos do not get free touch ups at any time.</span>
                    <br>Initial: <img src="{{ obj.refund_init.url }}" alt=""></p>
                <p><span style="font-weight: bold;">I agree that the studio does not have a
                    way of identifying if I am allergic to the elements or ingredients
                    that will be used for my tattoo. If I am allergic to anything I
                    will let my artist know. That includes pigment, dyes, soaps,
                    disinfectant, latex, metal, and food allergies.</span>
                    <br>Initial: <img src="{{ obj.allergen_disclosure_init.url }}" alt=""></p>
                <p><span style="font-weight: bold;">I understand that I need to take care of the tattoo
                    by following the written and verbal aftercare provided.</span>
                    <br>Initial: <img src="{{ obj.aftercare_init.url }}" alt=""></p>
                <p><span style="font-weight: bold;">I understand that I might get an
                    infection if I don't follow the instructions given to me in regards
                    to taking care of my tattoo. If I have had issues healing before,
                    I will tell my artist before the session.</span>
                    <br>Initial: <img src="{{ obj.infection_init.url }}" alt=""></p>
                <p><span style="font-weight: bold;">I agree to compensate Mad Ink by Stripes
                    for the services provided today by
                    paying the agreed-upon price for the session.</span>
                    <br>Initial: <img src="{{ obj.compensation_init.url }}" alt=""></p>
                <p><span style="font-weight: bold;">I acknowledge it is not reasonably possible
                    for an employee of Mad Ink by Stripes to determine
                    whether I have an allergic reaction to the pigments or
                    processes used in my tattoo and I agreed to accept the risk
                    that such a reaction is possible. I will search for medical attention if needed.</span>
                    <br>Initial: <img src="{{ obj.allergen_risk_init.url }}" alt=""></p>
                <p><span style="font-weight: bold;">I confirm that the information I
                    provided in this document is accurate and true.</span>
                    <br>Initial: <img src="{{ obj.accurate_info_init.url }}" alt=""></p>
                <p><span style="font-weight: bold;">I confirm that I am 18 years or older.</span>
                    <br>Initial: <img src="{{ obj.not_minor_init.url }}" alt=""></p>
                <div>
                    <p><span style="font-weight: bold;">Signed Date: </span>{{ obj.signed_date }}</p>
                </div>
            </section>
            <section>
                <div>
                <h3>Client Signature</h3>
                    <div class="signature-div">
                        <img src="{{ obj.signature.url }}" alt="">
                    </div>
                </div>
                <div>
                    <h3>Please Type Name, Sign, and Date</h3>
                    <div>
                        <label for="full_name">
                            By signing these forms I acknowledge that
                            I have read and understand all pages of this consent form.
                            I acknowledge that all information is correct. I understand that
                            tattoos are permanent and will change my appearance forever.
                            I ACKNOWLEDGE THAT WRITTEN AND VERBAL AFTERCARE WERE PROVIDED.
                        </label>
                        <p><span style="font-weight: bold;">Full Name: </span>{{ obj.full_name }}</p>
                    </div>
                </div>
                <div>
                    <h3>Signature</h3>
                        <div class="signature-div">
                            <img src="{{ obj.general_sig.url }}" alt="">
                        </div>
                </div>
                <div>
                    <p><span style="font-weight: bold;">Date: </span>{{ obj.general_date }}</p>
                </div>
            </section>
            <section>
                <div>
                    <p>
                        <h1 style="page-break-before: always;">Mad Ink By Stripes After Care Instructions</h1>
                        <h3></h3>
                    </p>
                </div>
                <div>
                    <p><em>If you have any questions or concerns, Call or Text (719)-428-5728</em></p>
                    <p>Remove saniderm 12- 15 hours after tattoo procedure. Wash immediately.
                        <br>
                        **DO NOT LEAVE ON  LONGER THAN 24 HOURS**
                    </p>
                    <p>If paper towels or gauze are used to cover a larger tattoo, remove within 2 or 3 hours. Wash immediately.</p>
                    <p>After bandage is removed, wash tattoo with warm water and gentle fragrance free soap.
                        <br>
                        *Blue Dawn or Dial is recommended*
                    </p>
                    <p>
                        Wash tattoo 2-3 times a day and keep clean
                        <br>
                        Gently PAT dry with a paper towel
                        <br>
                        Apply a thin layer of ointment after drying the tattoo
                        <br>
                        *Aquaphor or Bag Balm is recommended*
                    </p>
                    <p>
                        If your tattoo is looking dry throughout the day, apply another THIN layer of ointment.
                        DO NOT stay in direct sunlight or use tanning beds until the tattoo is healed. Approx 14 days.
                        After 2 weeks, use at least SPF 25 to protect tattoo from fading.
                    </p>
                    <p>DO NOT soak in the bathtub, hot tub, sauna, jacuzzi, or swimming pools while your tattoo is healing. Approx. 14 days</p>
                    <p>YOU MUST SHOWER to keep your tattoo healthy</p>
                    <p>DO NOT scratch or pick at tattoo. It could cause color loss, scarring or infection. Ink and skin flaking off and scabbing is normal.</p>
                    <p>Tattoos will cause redness and swelling but if you develop a fever, rash, yellow/green discharge, or constant irritation after 7 days, call your doctor immediately.</p>
                </div>
                <div>
                    <h3>Client Signature</h3>
                    <p><span style="font-weight: bold;">Date: </span>{{ obj.aftercare_date }}</p>
                        <div class="signature-div">
                            <img src="{{ obj.aftercare_sig.url }}" alt="">
                        </div>
                </div>
                <div>
                    <h3>Artist Signature</h3>
                    <p><span style="font-weight: bold;">Date: </span>{{ obj.artist_date }}</p>
                        <div class="signature-div">
                            <img src="{{ obj.artist_sig.url }}" alt="">
                        </div>
                </div>
            </section>
            <section>
                <div>
                    <p style='text-align: center;'><span style='font-size: 36pt;'>STOP HERE!</span></p>
                    <h3>FOR TATTOO ARTIST ONLY</h3>
                <div>
                    <div>
                        <p><span style="font-weight: bold;">Name of Artist or Representative: </span>{{ obj.artist_name }}</p>
                    </div>
                </div>
                <div>
                    <p><span style="font-weight: bold;">Signed Date: </span>{{ obj.artist_date }}</p>
                </div>
                <div>
                    <p><span style="font-weight: bold;">LOT #- EXPIRATION DATE - STERILIZATION DATE -COMPANY/BRAND</span>
                        <br>
                        {{ obj.needle_info }}
                    </p>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock main %}
