{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Consent Form</title>
<script type="module" src="{% static 'js/documents.js' %}"></script>
{% endblock head %}

{% block main %}
<main>
    <div>
            <div>
                <button id="frontId" type="button">Front of ID</button>
            </div>
            <div id="frontcamera" class="camera" style="display: none">
                <video id="frontvideo">Video stream not available.</video>
                <button id="frontbutton" type="button">Take photo</button>
                <input id="webimg" value="" name="src" type="text" style="display: none;">
                <canvas id="canvas" hidden>
                </canvas>
            </div>
            <br>
            <div>
                <img id="frontphoto" alt="your image" style="display: none">
            </div>
            <div>
                <button id="backId" type="button">Back of ID</button>
            </div>
            <div id="backcamera" class="camera" style="display: none">
                <video id="backvideo">Video stream not available.</video>
                <button id="backbutton" type="button">Take photo</button>
                <input id="webimg" value="" name="src" type="text" style="display: none;">
                </canvas>
            </div>
            <br>
            <div>
                <img id="backphoto" alt="your image" style="display: none">
            </div>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock main %}
