{% extends "base.html" %}
{% load static %}


{% block head %}
<title>Consent Form | PDF</title>
<link rel="stylesheet" href="{% static "css/documents.css" %}">
{{form.media}}
{% endblock head %}

{% block main %}
<main>
    <div class="form-div">
            <div class="form-group">
                {{ form.front_id }}
            </div>


            <div class="form-group">
                {{ form.first_name }} {{ form.last_name }}
            </div>
            {% comment %} <div class="form-group">
                {% render_field form.back_id class="id_file" id="backfile" %}
            </div>

            <div class="form-group">
                <label>Name:</label>
            </div>
            <div class="div-name">
            {% render_field form.first_name class="name" placeholder="First Name" type="text" %}
            {% render_field form.last_name type="text" class="name" placeholder="Last Name" %}
            </div>

            <div class="form-group">
                <label>Preferred pronouns:</label>
            </div>
            <div>
                {% render_field form.preferred_pronouns class="radio-buttons" %}
            </div>

            <div class="form-group">
                <p>Age:</p>
                {% render_field form.age class="form-control" placeholder="Age" %}
            </div>

            <div class="form-group">
                <p>Date of birth:</p>
                {% render_field form.birth_date class="form-control" %}
            </div>

            <div class="form-group">
                <p>Phone number:</p>
                {% render_field form.phone_number class="form-control" placeholder="(000)-000-0000" %}
            </div>

            <div class="form-group">
                <p>Email address:</p>
                {% render_field form.email class="form-control" placeholder="example@email.com" %}
            </div>

            <h3>Address</h3>
            <div class="form-group">
                <div class="form-group">
                    {% render_field form.address_line_1 class="form-control" placeholder="Address Line 1" %}
                </div>
                <div class="form-group">
                    {% render_field form.address_line_2 class="form-control" placeholder="Address Line 2" %}
                </div>
                <div class="div-name">
                    {% render_field form.city class="name" placeholder="City" %}
                    {% render_field form.state_province class="name" placeholder="State/Province" %}
                </div>
                <div class="form-group">
                    {% render_field form.postal_zip_code class="form-control" placeholder="Zip/Postal Code" %}
                </div>
            </div>
            <div class="form-group">
                <p>Brief Description of the tattoo:</p>
                {% render_field form.tattoo_description class="form-control" %}
            </div>
            <div class="form-group">
                <p>Placement of tattoo:</p>
                {% render_field form.tattoo_placement class="form-control" %}
            </div>
            <div class="form-group">
                <p>How did you hear about us?:</p>
                {% render_field form.connection class="form-control" %}
            </div>

            <h2>Pre-Prodecure Questionnaire</h2>

            <div class="form-group">
                <label>Are you under the influence of drugs or alcohol?</label>
            </div>
            <div class="radio-buttons">
                {% render_field form.under_influence class="radio-buttons" %}
            </div>

            <div class="form-group">
                <label class="form=group">FEMALE ONLY: Are you pregnant or nursing?</label>
            </div>
            <div class="radio-buttons">
                {% render_field form.pregnant_or_nursing class="radio-buttons" %}
            </div>


            <div class="form-group">
                <label>Do you have a communicable disease?</label>
            </div>
            <div class="radio-buttons">
                {% render_field form.communicable_disease class="radio-buttons" %}
            </div>

            <div class="form-group">
                <label>Do you have any skin conditions?</label>
            </div>
            <div class="radio-buttons">
                {% render_field form.skin_conditions class="radio-buttons" %}
            </div>


            <div class="form-group">
                <p>Please tell us about your medical history (e.g. Are you on blood thinners?, Diabetes, Cardiovascular Disease, Epilepsy, Blood-related disease, Hemophilia ,immune compromised, etc.)</p>
                {% render_field form.medical_history class="large-input" %}
            </div>


            <h2>Acknowledgment and Waiver</h2>
            <h3>Please check the box and initial under each statement.</h3>
            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.permanent class="form-checkbox" id="input_permanent" %}
                    <label for="input_permanent">I understand that this procedure is a permanent change to my skin and body.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {% render_field form.permanent_init %}
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.social_media_perm class="form-checkbox" id="input_social_media_perm" %}
                    <label for="input_social_media_perm">I allow my tattoo to be photographed and be used for Mad Ink by Stripes portfolio. Pictures may be posted on Facebook, instagram, and studio website.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {{ form.social_media_perm_init }}
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.refund class="form-checkbox" id="input_refund" %}
                    <label for="input_refund">I acknowledge that Mad Ink by Stripes does not offer refunds or free touch ups after 3 months. Hands, fingers, feet, and micro tattoos do not get free touch ups at any time.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {{ form.refund_init }}
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.allergen_disclosure class="form-checkbox" id="input_allergen_disclosure" %}
                    <label for="input_allergen_disclosure">I agree that the studio does not have a way of identifying if I am allergic to the elements or ingredients that will be used for my tattoo. If I am allergic to anything I will let my artist know. That includes pigment, dyes, soaps, disinfectant ,latex, metal, and food allergies.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                <div>{{ form.allergen_disclosure_init }}</div>
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.aftercare class="form-checkbox" id="input_aftercare" %}
                    <label for="input_aftercare">I understand that I need to take care of the tattoo by following the written and verbal aftercare provided.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {{ form.aftercare_init }}
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.infection class="form-checkbox" id="input_infection" %}
                    <label for="input_infection">I understand that I might get an infection if I don't follow the instructions given to me in regards of taking care of my tattoo. If I have had issues healing before, I will tell my artist before the session.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {{ form.infection_init }}
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.compensation class="form-checkbox" id="input_compensation" %}
                    <label for="input_compensation">I agree to compensate Mad Ink by Stripes for the services provided today by paying the agreed upon price for the session.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {{ form.compensation_init }}
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.allergen_risk class="form-checkbox" id="input_allergen_risk" %}
                    <label for="input_allergen_risk">I acknowledge it is not reasonably possible for an employee of Mad Ink by Stripes to determine whether I have an allergic reaction to the pigments or processes used in my tattoo and I agreed to accept the risk that such a reaction is possible. I will search medical attention if needed.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {{ form.allergen_risk_init }}
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.accurate_info class="form-checkbox" id="input_accurate_info" %}
                    <label for="input_accurate_info">I confirm that the information I provided in this document is accurate and true.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {{ form.accurate_info_init }}
            </div>

            <span class="form-group">
                <div class="form-waiver">
                    {% render_field form.not_minor class="form-checkbox" id="input_not_minor" %}
                    <label for="input_not_minor">I confirm that I am 18 years or older.</label>
                </div>
            </span>
            <div class="form-group">Initial:</div>
            <div class="init-div">
                {{ form.not_minor_init }}
            </div>

            <div class="form-group">
                <h3>Signed Date</h3>
                <div class="form-group init-div">
                    {% render_field form.signed_date class="date-input" %}
                </div>
            </div>

            <div class="form-group">
            <h3>Client Signature</h3>
                <div class="signature-div">
                    {% render_field form.signature %}
                </div>
            </div>
            <div class="submit-button"><button>Submit</button></div> {% endcomment %}

    </div>
</main>
{% endblock main %}
